<%- include('partials/head.ejs') %>   
<%- include('partials/navbarLogged.ejs') %>
<section id="content" data-site="<%= site_id %>">
        <div class="container main" data-website="<%= website %>">

        </div>
</section>
<script src="/js/list.js"></script>
<%- include('partials/footer.ejs') %>

